* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.plaque {
  background-color: #f1f1f1; /* Cor de fundo da placa */
  border: 5px solid #333; /* Borda simulando a placa */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

.semaforo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lampada {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
}
